.avt-40{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}
.pre-line{
    white-space: pre-line;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}
.font-18{
    font-size: 18px;
}
.online{
    position: relative;
    padding-left: 12px;
}
.online:before{
    content: '';
    background: #4ee282;
    width: 7px;
    height: 7px;
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0 0 4px 0px #f5f7f5;
}